﻿@model ErrorViewModel
@{
    ViewData["Title"] = "Bład serwera - 500";
}

<div class="row" style="margin-top: 100px; margin-bottom: 100px;">
    <div class="col-md-3">

    </div>
    <div class="col-md-3">
        <img style="height: 190px;" src="https://cdn.pixabay.com/photo/2014/04/02/10/38/sign-304093_960_720.png" />

    </div>
    <div class="col-md-3">
        <h1>Błąd - 500</h1>
        <h4>Coś poszło nie tak podczas przetwarzania strony.</h4>

        @if (Model.ShowRequestId)
        {
            <p>
                <strong>ID zapytania:</strong> <code>@Model.RequestId</code>
            </p>
        }

            <a href="~/">Przejdź do strony głównej</a>
    </div>
    <div class="col-md-3">

    </div>
</div>


