﻿@model TournamentMatchCreateViewModel

<h2>Stwórz mecz turniejowy</h2>

@{
    List<SelectListItem> userListForSelect = new List<SelectListItem>();
    foreach (var user in Model.TournamentParticipants)
    {
        userListForSelect.Add(new SelectListItem(user.UserName, user.Id));
    };
    userListForSelect.First().Selected = true;
}

<hr />

<div class="row">
    <form action="~/TournamentMatch/Create" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input name="TournamentId" type="hidden" asp-for="TournamentMatch.TournamentId" value="@Model.TournamentMatch.TournamentId" class="form-control" />

        <div class="row">
            <div class="col-md-6 form-group">
                <div class="form-group">
                    <label asp-for="TournamentMatch.Name" class="control-label"></label>
                    <input name="Name" asp-for="TournamentMatch.Name" class="form-control" />
                    <span asp-validation-for="TournamentMatch.Name" class="text-danger"></span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <h3>Drużyna 1</h3>
                <div class="form-group">
                    <b>Gracz 1</b>
                    <select class="form-control" name="TeamOnePlayerOneId" asp-items="@userListForSelect" ></select>
                </div>
                <div class="form-group">
                    <b>Gracz 2</b>
                    <select class="form-control" name="TeamOnePlayerTwoId" asp-items="@userListForSelect" ></select>
                </div>
            </div>
            <div class="col-md-6">
                <h3>Drużyna 2</h3>

                <div class="form-group">
                    <b>Gracz 1</b>
                    <select class="form-control" name="TeamTwoPlayerOneId" asp-items="@userListForSelect" ></select>
                </div>
                <div class="form-group">
                    <b>Gracz 2</b>
                    <select class="form-control" name="TeamTwoPlayerTwoId" asp-items="@userListForSelect" ></select>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 form-group">
                <label asp-for="TournamentMatch.StartTime" class="control-label"></label>
                <input name="StartTime" asp-for="TournamentMatch.StartTime" class="form-control" />
                <span asp-validation-for="TournamentMatch.StartTime" class="text-danger"></span>
            </div>
            <div class="col-md-6 form-group">
                <label asp-for="TournamentMatch.EndTime" class="control-label"></label>
                <input name="EndTime" asp-for="TournamentMatch.EndTime" class="form-control" />
                <span asp-validation-for="TournamentMatch.EndTime" class="text-danger"></span>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 form-group">
                <div class="checkbox">
                    <label>
                        <input name="IsActive" asp-for="TournamentMatch.IsActive" />
                        @Html.DisplayNameFor(model => model.TournamentMatch.IsActive)
                    </label>
                </div>
            </div>
        </div>

        <div class="btn-group">
            <button class="btn btn-danger" type="submit">Stwórz</button>
            <a class="btn btn-primary" href="javascript:history.back()">Cofnij</a>
        </div>
    </form>
</div>