﻿@model TournamentMatchEditViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edytuj Mecz</h2>

@{
    List<SelectListItem> userListForSelect = new List<SelectListItem>();
    foreach (var user in Model.TournamentParticipants)
    {
        userListForSelect.Add(new SelectListItem(user.UserName, user.Id));
    };
    userListForSelect.First().Selected = true;

    List<SelectListItem> idList = new List<SelectListItem>()
    {
        new SelectListItem(Model.TournamentMatch.Id.ToString(), Model.TournamentMatch.Id.ToString()),
    };
}

<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="row">
                <div class="col-md-6 form-group">
                    <div class="form-group">
                        <select id="matchId" class="form-control" name="matchId" asp-items="@idList"></select>
                        <script>document.getElementById("matchId").value = "@Model.TournamentMatch.Id"; // Set default select value</script>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 form-group">
                    <div class="form-group">
                        <label asp-for="TournamentMatch.Name" class="control-label"></label>
                        <input name="Name" asp-for="TournamentMatch.Name" class="form-control" />
                        <span asp-validation-for="TournamentMatch.Name" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <h3>Drużyna 1</h3>
                    <div class="form-group">
                        <b>Gracz 1</b>
                        <select id="PlayerOneTeamOneSelect" class="form-control" name="TeamOnePlayerOneId" asp-items="@userListForSelect"></select>
                        <script>document.getElementById("PlayerOneTeamOneSelect").value = "@Model.TournamentMatch.TeamOnePlayerOneId"; // Set default select value</script>
                    </div>
                    <div class="form-group">
                        <b>Gracz 2</b>
                        <select id="PlayerTwoTeamOneSelect" class="form-control" name="TeamOnePlayerTwoId" asp-items="@userListForSelect"></select>
                        <script>document.getElementById("PlayerTwoTeamOneSelect").value = "@Model.TournamentMatch.TeamOnePlayerTwoId"; // Set default select value</script>
                    </div>
                </div>
                <div class="col-md-6">
                    <h3>Drużyna 2</h3>

                    <div class="form-group">
                        <b>Gracz 1</b>
                        <select id="PlayerOneTeamTwoSelect" class="form-control" name="TeamTwoPlayerOneId" asp-items="@userListForSelect"></select>
                        <script>document.getElementById("PlayerOneTeamTwoSelect").value = "@Model.TournamentMatch.TeamTwoPlayerOneId"; // Set default select value</script>
                    </div>
                    <div class="form-group">
                        <b>Gracz 2</b>
                        <select id="PlayerTwoTeamTwoSelect" class="form-control" name="TeamTwoPlayerTwoId" asp-items="@userListForSelect"></select>
                        <script>document.getElementById("PlayerTwoTeamTwoSelect").value = "@Model.TournamentMatch.TeamTwoPlayerTwoId"; // Set default select value</script>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 form-group">
                    <label asp-for="TournamentMatch.StartTime" class="control-label"></label>
                    <input name="StartTime" asp-for="TournamentMatch.StartTime" class="form-control" />
                    <span asp-validation-for="TournamentMatch.StartTime" class="text-danger"></span>
                </div>
                <div class="col-md-6 form-group">
                    <label asp-for="TournamentMatch.EndTime" class="control-label"></label>
                    <input name="EndTime" asp-for="TournamentMatch.EndTime" class="form-control" />
                    <span asp-validation-for="TournamentMatch.EndTime" class="text-danger"></span>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 form-group">
                    <div class="checkbox">
                        <label>
                            <input name="IsActive" asp-for="TournamentMatch.IsActive" />
                            @Html.DisplayNameFor(model => model.TournamentMatch.IsActive)
                        </label>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="TournamentMatch.Status" class="control-label"></label>
                <select asp-for="TournamentMatch.Status" asp-items="Html.GetEnumSelectList<MatchStatus>()">
                    <option selected="selected" value="">Wybierz fazę turnieju</option>
                </select>
                <span asp-validation-for="TournamentMatch.Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TournamentMatch.SetPointsTeamOne" class="control-label"></label>
                <input asp-for="TournamentMatch.SetPointsTeamOne" class="form-control" />
                <span asp-validation-for="TournamentMatch.SetPointsTeamOne" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TournamentMatch.SetPointsTeamTwo" class="control-label"></label>
                <input asp-for="TournamentMatch.SetPointsTeamTwo" class="form-control" />
                <span asp-validation-for="TournamentMatch.SetPointsTeamTwo" class="text-danger"></span>
            </div>
            <div class="form-group btn-group">
                <input type="submit" value="Zapisz" class="btn btn-danger" />
                <a class="btn btn-primary" href="javascript:history.back()">Cofnij</a>
            </div>
        </form>
    </div>
</div>
