﻿@model TournamentMatchIndexViewModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Mecze Turniejowe - @Model.Tournament.Name </h1>

@if (User.IsAtLeastInOneRole(AppRoleService.Administrator, AppRoleService.Moderator))
{
    @Html.ActionLink("Zarządzaj meczami", "MatchesAdministration", "TournamentMatch", new { tournamentId = Model.Tournament.Id }, new { @class = "btn btn-danger" })
}

<table class="table">
    <thead>
        <tr>
            <th>
                Nazwa
            </th>
            <th>
                Utworzono
            </th>
            <th>
                Drużyna I
            </th>
            <th>
                Drużyna II
            </th>
            <th>
                Status
            </th>
            <th>
                Obecny Wynik (Sety)
            </th>
            <th>

            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var match in Model.Matches)
        {
            var teamOnePlayerOne = Model.Users.FirstOrDefault(u => u.Id == match.TeamOnePlayerOneId);
            var teamOnePlayerTwo = Model.Users.FirstOrDefault(u => u.Id == match.TeamOnePlayerTwoId);
            var teamTwoPlayerOne = Model.Users.FirstOrDefault(u => u.Id == match.TeamTwoPlayerOneId);
            var teamTwoPlayerTwo = Model.Users.FirstOrDefault(u => u.Id == match.TeamTwoPlayerTwoId);

            <tr>
                <td>
                    @Html.DisplayFor(modelItem => match.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => match.Created)
                </td>
                <td>
                    @teamOnePlayerOne.UserName <br />
                    @teamOnePlayerTwo.UserName
                </td>
                <td>
                    @teamTwoPlayerOne.UserName <br />
                    @teamTwoPlayerTwo.UserName
                </td>
                <td>
                    @if (match.Status == RDChampionship.Models.Logic.MatchStatus.Scheduled)
                    {
                        <p>Oczekujący rozpoczęcia</p>
                    }
                    else if (match.Status == RDChampionship.Models.Logic.MatchStatus.During)
                    {
                        <p>Trwa obecnie</p>
                    }
                    else if (match.Status == RDChampionship.Models.Logic.MatchStatus.Suspended)
                    {
                        <p>Przerwany</p>
                    }
                    else if (match.Status == RDChampionship.Models.Logic.MatchStatus.Ended)
                    {
                        <p>Zakończony</p>
                    }
                    else
                    {
                        <p>Nieznany</p>
                    }
                </td>
                <td>
                    @match.SetPointsTeamOne : @match.SetPointsTeamTwo <br />
                </td>
                <td>
                    @Html.ActionLink("Panel meczu", "ControlPanel", "TournamentMatch", new { matchId = match.Id }, new { @class = "btn btn-primary" })
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="btn-group">
    @Html.ActionLink("Lista turniejów", "Index", "Tournament", null, new { @class = "btn btn-primary" })
</div>