﻿@model TournamentMatchesAdministrationViewModel

<h2>Administracja meczami truniejowymi - @Model.Tournament.Name</h2>

<p style="margin-top: 30px; margin-bottom: 30px;">
    @Html.ActionLink("Utwórz nowy mecz", "Create", "TournamentMatch", new { tournamentId = Model.Tournament.Id }, new { @class = "btn btn-danger" })
</p>
<table class="table">
    <thead>
        <tr>
            <th> Nazwa </th>
            <th> Utworzono </th>
            <th> Drużyna I </th>
            <th> Drużyna II </th>
            <th> Status </th>
            <th> Wynik (Sety) </th>
            <th> </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var match in Model.Matches)
        {
            var teamOnePlayerOne = Model.Users.FirstOrDefault(u => u.Id == match.TeamOnePlayerOneId);
            var teamOnePlayerTwo = Model.Users.FirstOrDefault(u => u.Id == match.TeamOnePlayerTwoId);
            var teamTwoPlayerOne = Model.Users.FirstOrDefault(u => u.Id == match.TeamTwoPlayerOneId);
            var teamTwoPlayerTwo = Model.Users.FirstOrDefault(u => u.Id == match.TeamTwoPlayerTwoId);

            <tr>
                <td>
                    @Html.DisplayFor(modelItem => match.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => match.Created)
                </td>
                <td>
                    @teamOnePlayerOne.UserName <br />
                    @teamOnePlayerTwo.UserName
                </td>
                <td>
                    @teamTwoPlayerOne.UserName <br />
                    @teamTwoPlayerTwo.UserName
                </td>
                <td>
                    @if (match.Status == RDChampionship.Models.Logic.MatchStatus.Scheduled)
                    {
                        <p>Oczekujący rozpoczęcia</p>
                    }
                    else if (match.Status == RDChampionship.Models.Logic.MatchStatus.During)
                    {
                        <p>Trwa obecnie</p>
                    }
                    else if (match.Status == RDChampionship.Models.Logic.MatchStatus.Suspended)
                    {
                        <p>Przerwany</p>
                    }
                    else if (match.Status == RDChampionship.Models.Logic.MatchStatus.Ended)
                    {
                        <p>Zakończony</p>
                    }
                    else
                    {
                        <p>Nieznany</p>
                    }
                </td>
                <td>
                    @match.SetPointsTeamOne : @match.SetPointsTeamTwo <br />
                </td>
                <td>
                    <div class="btn-group">
                        @Html.ActionLink("Panel meczu", "ControlPanel", "TournamentMatch", new { matchId = match.Id }, new { @class = "btn btn-primary" });
                        @Html.ActionLink("Edytuj", "Edit", "TournamentMatch", new { matchId = match.Id }, new { @class = "btn btn-danger" });
                        <button onclick="document.getElementById('DeleteMatchForm-@match.Id').submit()" class="btn btn-danger">Usuń</button>
                    </div>

                    <form action="~/TournamentMatch/Delete" method="post" id="DeleteMatchForm-@match.Id">
                        <input type="hidden" name="matchId" value="@match.Id" />
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="btn-group">
    @Html.ActionLink("Lista turniejów", "Index", "Tournament", null,  new { @class = "btn btn-primary" })
</div>