﻿@model UserDetailsViewModel

<div>
    <h1>Szczegóły Użytkownika</h1>

    <hr />
    
    <div class="row">
        <div class="col-md-3 text-center">
            @if (string.IsNullOrWhiteSpace(Model.User.AvatarUrl))
            {
                <img style="height: 150px; margin: 20px;" src="~/images/avatar_empty.png" alt="Avatar" />
            }
            else
            {
                <img style="height: 150px; margin: 20px;" src="@Model.User.AvatarUrl" alt="Avatar" />
            }
        </div>
        <div class="col-md-9">
            <dl class="dl-horizontal">
                <dt>Id użytkownika</dt>
                <dd>@Html.DisplayFor(model => model.User.Id)</dd>

                <dt>Nazwa użytkownika</dt>
                <dd>@Html.DisplayFor(model => model.User.UserName)</dd>

                <dt>Email</dt>
                <dd>@Html.DisplayFor(model => model.User.Email)</dd>
            </dl>
        </div>
    </div>
</div>

<div>
    <a class="btn btn-primary" href="javascript:history.back()">Wróć</a>
</div>
