﻿@model AppUser

@inject AppUserManager UserManager
@inject IAppRoleService RoleService

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edytuj użytkownika</h1>

<form action="~/Users/Edit" method="post">
    <div class="row">
        <div class="col-md-6">
            @Html.HiddenFor(model => model.Id)

            @Html.Label(nameof(Model.UserName), "Nazwa użytkownika") <br />
            @Html.TextBox(nameof(Model.UserName), Model.UserName, null, new { @class = "form-control" }) <br />

            @Html.Label(nameof(Model.Email), "Email") <br />
            @Html.TextBox(nameof(Model.Email), Model.UserName, null, new { @class = "form-control" }) <br />

            @Html.CheckBoxFor(model => model.EmailConfirmed, new { @class = "form-check-input" })
            @Html.LabelFor(model => model.EmailConfirmed, " - czy email potwierdzony?") <br />

            @Html.Label(nameof(Model.AvatarUrl), "Avatar") <br />
            @Html.TextBox(nameof(Model.AvatarUrl), Model.AvatarUrl, null, new { @class = "form-control" }) <br />

            <div class="btn-group">
                @Html.ActionLink("Lista użytkowników", "List", "Users", null, new { @class = "btn btn-primary" })
                <input type="submit" value="Aktualizuj dane" class="btn btn-danger" />
            </div>

        </div>
    </div>
</form>


@if (User.IsInRole(AppRoleService.Administrator))
{
    <h1>Role użytkownika: </h1>

    <form action="~/Roles/OverrideRoles" method="post">
        @{
            var roleCounter = 0;
        }

        @foreach (var role in RoleService.AppRoles)
        {
            bool isUserInCurrentRole = UserManager.IsInRoleAsync(Model, role.Name).Result;
            string inputId = $"RoleInput_{role.Name}";
            string inputName = $"roleIdList[{roleCounter}]";
            roleCounter = roleCounter + 1;

            <div style="display: inline-block">
                <input id="@inputId" name="@inputName" value="@role.Id" @(isUserInCurrentRole ? "checked" : "") type="checkbox" />
                <label for="@inputId">@role.Name</label>
            </div>

            <br />
        }

        <br />

        <div class="btn-group">
            @Html.ActionLink("Lista użytkowników", "List", "Users", null, new { @class = "btn btn-primary" })
            <input type="submit" value="Aktualizuj role" class="btn btn-danger" />
        </div>
    </form>

    <br />
}

<script>
    function ChangeRole(userId, roleId, action) {
        if (action == 'enable') {
            EnableRole(userId, roleId);
        }
        else if (action == 'disable') {
            DisableRole(userId, roleId)
        }
    }

    function EnableRole(userId, roleId) {
        $.ajax({
            type: 'POST',
            url: '/Roles/EnableRole',
            data: '{ userId: \'' + userId + '\', roleId: \'' + roleId + '\'}',
            success: function (msg) {
                alert('wow' + msg);
            }
        });
    }

    function DisableRole(userId, roleId) {
        $.ajax({
            type: 'POST',
            url: '/Roles/DisableRole',
            data: '{ userId: \'' + userId + '\', roleId: \'' + roleId + '\'}',
            success: function (msg) {
                alert('wow' + msg);
            }
        });
    }
</script>