﻿@model UserListViewModel

<h1>Użytkownicy</h1>

<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th scope="col" class="text-center">
                    Avatar
                </th>
                <th scope="col" class="text-center">
                    Nazwa
                </th>
                <th scope="col" class="text-center">
                    Email
                </th>
                <th scope="col" class="text-center">
                    Akcje
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model.Users)
            {
                <tr>
                    <td scope="row" class="text-center">
                        @if (string.IsNullOrWhiteSpace(user.AvatarUrl))
                        {
                            <img src="~/images/avatar_empty.png" style="height:40px;" />
                        }
                        else
                        {
                            <img src="@user.AvatarUrl" style="height:40px;" />
                        }
                    </td>
                    <td scope="row" class="text-center">
                        @Html.DisplayFor(modelItem => user.UserName)
                    </td>
                    <td scope="row" class="text-center">
                        @Html.DisplayFor(modelItem => user.Email)
                    </td>
                    <td scope="row" class="text-center">
                        <div class="btn-group">
                            @Html.ActionLink("Pokaż profil", "Details", "Users", new { id = user.Id }, new { @class = "btn btn-primary" })
                            @if (User.IsInRole(AppRoleService.Administrator) || User.IsInRole(AppRoleService.Moderator))
                            {
                                @Html.ActionLink("Edytuj", "Edit", "Users", new { userId = user.Id }, new { @class = "btn btn-danger" })
                            }
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<p class="btn-group" style="margin-top: 20px;">
    @Html.ActionLink("Strona główna", "Index", "Home", null, new { @class = "btn btn-primary" })

    @if (User.IsInRole(AppRoleService.Administrator))
    {
        @Html.ActionLink("Utwórz nowego użytkownika", "Create", "Users", null, new { @class = "btn btn-danger" })
    }
</p>
