﻿@model RDChampionship.Models.Logic.Tournament

<h1>Edycja Turnieju</h1>
<hr />
<div class="row">
    <div class="col-md-12">
        <form action="~/Tournament/Edit" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="Created" />
            <div class="row">
                <div class="col-md-6">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <b>Nazwa Turnieju</b>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <b>Url - logo turnieju</b>
                        <input asp-for="LogoUrl" class="form-control" />
                        <span asp-validation-for="LogoUrl" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <b>Url - Regulamin turnieju</b>
                        <input asp-for="RulesPageUrl" class="form-control" />
                        <span asp-validation-for="RulesPageUrl" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <b>Data początek zapisów</b>
                        <input asp-for="StartDate" class="form-control" />
                        <span asp-validation-for="StartDate" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <b>Data końca zapisów</b>
                        <input asp-for="SignInEndDate" class="form-control" />
                        <span asp-validation-for="SignInEndDate" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <b>Data zakończenia turnieju</b>
                        <input asp-for="EndDate" class="form-control" />
                        <span asp-validation-for="EndDate" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <b>Faza turnieju</b> <br />
                        <select asp-for="Phase" asp-items="Html.GetEnumSelectList<TournamentPhase>()">
                            <option selected="selected" value="">Wybierz fazę turnieju</option>
                        </select> 
                        <span asp-validation-for="Phase" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <b>Opis</b>
                        <textarea asp-for="Description" class="form-control"></textarea>
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="form-group btn-group">
                @Html.ActionLink("Cofnij", "Index", "Tournament", null, new { @class = "btn btn-primary" })
                <input type="submit" value="Zapisz" class="btn btn-danger" />
            </div>
        </form>
    </div>
</div>
