﻿@model TournamentIndexViewModel

@inject AppUserManager UserManager

<h1>Lista Turniejów</h1>

@if (User.Identity.IsAuthenticated)
{
    @if (User.IsInRole(AppRoleService.Administrator) || (User.IsInRole(AppRoleService.Moderator)))
    {
        <a href="~/Tournament/Create" class="btn btn-danger">Stwórz Nowy Turniej</a>
    }
}

@foreach (var tournament in Model.Tournaments)
{
    <hr />

    <div class="row">
        <div class="col-md-6 text-center">
            <img style="width: 48%; margin-top:23px; margin-bottom: 20px;" src="@tournament.LogoUrl" alt="Logo" />
            <p>
                @tournament.Description
            </p>
        </div>
        <div class="col-md-6">
            <h2>@tournament.Name</h2>

            @if (tournament.Phase == TournamentPhase.NotStarted)
            {
                <p>Turniej zaplanowany - rejstracja niebawem się rozpocznie.</p>
            }
            else if (tournament.Phase == TournamentPhase.Registration)
            {
                <p>Trwają zapisy na turniej.</p>
            }
            else if (tournament.Phase == TournamentPhase.Championship)
            {
                <p>Turniej się rozpoczął.</p>
            }
            else if (tournament.Phase == TournamentPhase.Ended)
            {
                <p>Turniej zakończony</p>
            }
            else
            {
            }

            @if (tournament.Phase == TournamentPhase.NotStarted || tournament.Phase == TournamentPhase.Registration)
            {
                <div>
                    Zapisy od @tournament.StartDate.ToShortDateString() godz. @tournament.StartDate.ToShortTimeString() <br />
                    Zapisy do @tournament.SignInEndDate.ToShortDateString() godz. @tournament.SignInEndDate.ToShortTimeString() <br />
                </div>
            }

            Zakończenie turnieju: @tournament.EndDate.ToShortDateString() godz. @tournament.EndDate.ToShortTimeString()  <br />

            <div style="margin-top: 20px; margin-bottom: 20px;">
                <form action="~/Tournament/UserSignIn" method="post">
                    <input type="hidden" id="tournamentId" name="tournamentId" value="@tournament.Id" />
                    <div class="btn-group text-center">
                        <a href="@tournament.RulesPageUrl" class="btn btn-info">Regulamin</a>
                        @if (User.Identity.IsAuthenticated &&
                       User.IsAtLeastInOneRole(AppRoleService.Administrator, AppRoleService.Participant) &&
                       tournament.Phase == TournamentPhase.Registration)
                        {
                            <button class="btn btn-primary" type="submit">Weź udział</button>
                        }
                        @Html.ActionLink("Uczestnicy", "RegisteredUsers", "Tournament", new { tournamentId = tournament.Id }, new { @class = "btn btn-primary" })

                        @if (tournament.Phase == TournamentPhase.Championship || tournament.Phase == TournamentPhase.Ended ||
                           User.IsAtLeastInOneRole(AppRoleService.Administrator, AppRoleService.Participant))
                        {
                            @Html.ActionLink("Mecze", "List", "TournamentMatch", new { tournamentId = tournament.Id }, new { @class = "btn btn-primary" })
                        }
                        @Html.ActionLink("Tabela", "Index", "Ranking", new { tournamentId = tournament.Id }, new { @class = "btn btn-primary" })
                    </div>
                </form>

                @if (!User.Identity.IsAuthenticated)
                {
                    <p style="margin-top: 20px; margin-bottom: 20px;">
                        <b>Zaloguj się zaby wziąć udział w turnieju</b>
                    </p>
                }

                @if (User.Identity.IsAuthenticated && !User.HasEmailConfirmed(UserManager))
                {
                    <p style="margin-top: 20px; margin-bottom: 20px;">
                        <b>Potwierdź adres email, aby wziąć udział w turnieju.</b>
                    </p>
                }

                @if (User.Identity.IsAuthenticated)
                {
                    @if (User.IsInRole(AppRoleService.Administrator) || User.IsInRole(AppRoleService.Moderator))
                    {
                        <h3>Administracja</h3>

                        <div class="btn-group">
                            @Html.ActionLink("Zarządzaj meczami", "MatchesAdministration", "TournamentMatch", new { tournamentId = tournament.Id }, new { @class = "btn btn-danger" })
                            @Html.ActionLink("Edytuj turniej", "Edit", "Tournament", new { tournamentId = tournament.Id }, new { @class = "btn btn-danger" })
                            <button class="btn btn-danger" onclick="document.getElementById('DeleteTournamnetForm').submit()">Usuń</button>
                        </div>

                        <form action="~/Tournament/Delete" method="post" id="DeleteTournamnetForm">
                            <input type="hidden" name="tournamentId" value="@tournament.Id" />
                        </form>
                    }
                }
            </div>
        </div>
    </div>
}
