﻿@model TournamentRegisteredUsersViewModel

<h2>Użytkownicy zapisani na turniej [@Model.TournamentId] </h2>

@if (User.IsAtLeastInOneRole(AppRoleService.Administrator, AppRoleService.Moderator))
{
    <p style="margin-top: 20px; margin-bottom: 20px;">
        @Html.ActionLink("Zapisz użytkownika", "SignUpUser", "Tournament", new { tournamentId = Model.TournamentId }, new { @class = "btn btn-danger" })
    </p>
}

<table class="table">
    <thead>
        <tr>
            <th class="text-center">
            </th>
            <th class="text-center">
                Nazwa
            </th>
            <th class="text-center">
                Email
            </th>
            <th class="text-center">
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var registration in Model.Registrations)
        {
            var user = Model.Users.FirstOrDefault(u => u.Id == registration.UserId);
            <tr>
                <td scope="row" class="text-center">
                    @if (string.IsNullOrWhiteSpace(user.AvatarUrl))
                    {
                        <img src="~/images/avatar_empty.png" style="height:40px;" />
                    }
                    else
                    {
                        <img src="@user.AvatarUrl" style="height:40px;" />
                    }
                </td>
                <td scope="row" class="text-center">
                    @Html.DisplayFor(modelItem => user.UserName)
                </td>
                <td scope="row" class="text-center">
                    @Html.DisplayFor(modelItem => user.Email)
                </td>
                <td scope="row" class="text-center">
                    @if (User.IsAtLeastInOneRole(AppRoleService.Administrator, AppRoleService.Moderator))
                    {
                        <form action="~/Tournament/UserSignOut" method="post">
                            <input type="hidden" name="tournamentId" value="@Model.TournamentId" />
                            <input type="hidden" name="username" value="@user.UserName" />
                            <button class="btn btn-danger" type="submit">Wypisz</button>
                        </form>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

<a class="btn btn-primary" href="~/Tournament">Cofnij do listy turniejów</a>
