﻿@model TournamentSignUpUserViewModel

@{
    ViewData["Title"] = "SignUpUser";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Zapisz użytkownika</h2>

<p>
    Zapisz użytkownika na mistrzostwa [@Model.TournamentId]
</p>

<form action="~/Tournament/UserSignIn" method="post">
    <input name="tournamentId" type="hidden" value="@Model.TournamentId"/>
    @{ 
        List<SelectListItem> userListForSelect = new List<SelectListItem>();
        foreach (var user in Model.Users)
        {
            userListForSelect.Add(new SelectListItem(user.UserName, user.UserName));
        };
        userListForSelect.First().Selected = true;
    }

    <select name="username" asp-items="@userListForSelect"></select>

    <br/>

    <div style="margin-top: 20px;" class="btn-group">
        <button type="submit" class="btn btn-danger">Zapisz użytkownika</button>
        @Html.ActionLink("Cofnij do listy zapisanych użytkowników", "RegisteredUsers", "Tournament", new { tournamentId = Model.TournamentId }, new { @class = "btn btn-primary" })
    </div>    
</form>