﻿@model PointsTableIndexViewModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Tabela punktów [@Model.Tournament.Name]</h2>

<div class="row">
    <div class="col-md-12">
        <table id="PointsTable" class="table-bordered" style="width:100%;">
            <tr class="info">
                <th style="padding: 5px;">Miejsce &nbsp; <button title="Sortuj" class="btn btn-primary btn-sm">!</button></th>
                <th style="padding: 5px;">Gracz &nbsp; <button title="Sortuj" class="btn btn-primary btn-sm">!</button></th>
                <th style="padding: 5px;">Punkty &nbsp; <button title="Sortuj" class="btn btn-primary btn-sm">!</button></th>
                <th style="padding: 5px;">Rozegrane mecze &nbsp; <button title="Sortuj" class="btn btn-primary btn-sm">!</button></th>
            </tr>
            @foreach (var rankingRow in Model.TableData)
            {
                <tr>
                    <td style="padding: 5px;">@rankingRow.Place</td>
                    <td style="padding: 5px;">@rankingRow.Player.UserName</td>
                    <td style="padding: 5px;">@rankingRow.Points</td>
                    <td style="padding: 5px;">@rankingRow.PlayedMatches</td>
                </tr>
            }
        </table>
    </div>
</div>

<a class="btn btn-primary" href="~/Tournament" style="margin-top: 15px;">Cofnij do listy turniejów</a>
