﻿@model MatchControlPanelViewModel

<h1>Mecz Towarzyski</h1>

<hr class="hidden-sm hidden-xs" />

<!-- Large view -->
<div class="row hidden-sm hidden-xs" style="margin-top: 20px;">
    <div class="col-md-1">

    </div>
    <div class="col-md-4 text-center">
        <div class="row">
            <div class="col-md-6 text-center">
                <a href="~/Users/Details/@Model.TeamOnePlayerOne.Id">
                    <img src="@Model.TeamOnePlayerOne.AvatarUrl" style="height: 75px;" />
                </a>
            </div>
            <div class="col-md-6 text-center">
                <a href="~/Users/Details/@Model.TeamOnePlayerTwo.Id">
                    <img src="@Model.TeamOnePlayerTwo.AvatarUrl" style="height: 75px;" />
                </a>
            </div>
            <div class="col-md-6 text-center">
                <a href="~/Users/Details/@Model.TeamOnePlayerOne.Id">
                    <h5>@Model.TeamOnePlayerOne.UserName</h5>
                </a>
            </div>
            <div class="col-md-6 text-center">
                <a href="~/Users/Details/@Model.TeamOnePlayerTwo.Id">
                    <h5>@Model.TeamOnePlayerTwo.UserName</h5>
                </a>
            </div>
            <div class="col-md-12">
                Sety: @Model.TeamOneSets
            </div>
            <div class="col-md-12">
                Punkty: @Model.TeamOnePoints
            </div>
        </div>
    </div>
    <div class="col-md-2 text-center align-middle" style="font-size: 35px; font-weight: 500;">
        <div class="hidden-xs"><br /></div>
        VS
    </div>
    <div class="col-md-4 text-center">
        <div class="row">
            <div class="col-md-6">
                <a href="~/Users/Details/@Model.TeamTwoPlayerOne.Id">
                    <img src="@Model.TeamTwoPlayerOne.AvatarUrl" style="height: 75px;" />
                </a>
            </div>
            <div class="col-md-6">
                <a href="~/Users/Details/@Model.TeamTwoPlayerTwo.Id">
                    <img src="@Model.TeamTwoPlayerTwo.AvatarUrl" style="height: 75px;" />
                </a>
            </div>
            <div class="col-md-6">
                <a href="~/Users/Details/@Model.TeamTwoPlayerOne.Id">
                    <h5>@Model.TeamTwoPlayerOne.UserName</h5>
                </a>
            </div>
            <div class="col-md-6">
                <a href="~/Users/Details/@Model.TeamTwoPlayerTwo.Id">
                    <h5>@Model.TeamTwoPlayerTwo.UserName</h5>
                </a>
            </div>
            <div class="col-md-12">
                Sety: @Model.TeamTwoSets
            </div>
            <div class="col-md-12">
                Punkty: @Model.TeamTwoPoints
            </div>
        </div>
    </div>
    <div class="col-md-1">

    </div>
</div>

<!-- Small View -->
<div class="row hidden-lg hidden-md" style="margin-top: 20px;">
    <div class="col-xs-6 text-center">
        <a href="~/Users/Details/@Model.TeamOnePlayerOne.Id">
            <h5>@Model.TeamOnePlayerOne.UserName</h5>
        </a>
        <a href="~/Users/Details/@Model.TeamOnePlayerTwo.Id">
            <h5>@Model.TeamOnePlayerTwo.UserName</h5>
        </a>
        Sety: @Model.TeamOneSets <br />
        Punkty: @Model.TeamOnePoints
    </div>
    <div class="col-xs-6 text-center">
        <a href="~/Users/Details/@Model.TeamTwoPlayerOne.Id">
            <h5>@Model.TeamTwoPlayerOne.UserName</h5>
        </a>
        <a href="~/Users/Details/@Model.TeamTwoPlayerTwo.Id">
            <h5>@Model.TeamTwoPlayerTwo.UserName</h5>
        </a>
        Sety: @Model.TeamTwoSets <br />
        Punkty: @Model.TeamTwoPoints
    </div>
</div>

<hr />

@if (Model.Match.Status == RDChampionship.Models.Logic.MatchStatus.Scheduled)
{
    <div class="row" style="margin-top: 30px;">
        <div class="col-md-12 text-center">
            <form action="~/Match/StartMatch" method="post">
                <input type="hidden" name="matchId" value="@Model.Match.Id" />
                <button class="btn btn-primary" type="submit">Rozpocznij mecz</button>
            </form>
        </div>
    </div>
}
else if (Model.Match.Status == RDChampionship.Models.Logic.MatchStatus.During)
{
    <!-- Large View -->
    <div class="row hidden-xs hidden-sm">
        <div class="col-md-2">

        </div>
        <div class="col-md-3 text-center">
            <form action="~/Match/AddPoint" method="post">
                <input type="hidden" name="matchId" value="@Model.Match.Id" />
                <input type="hidden" name="team" value="one" />
                <button class="btn btn-primary" type="submit" style="width: 150px; margin: 5px;">Dodaj punkt (+)</button>
            </form>
            <form action="~/Match/SubstractPoint" method="post">
                <input type="hidden" name="matchId" value="@Model.Match.Id" />
                <input type="hidden" name="team" value="one" />
                <button class="btn btn-primary" type="submit" style="width: 150px; margin: 5px;">Odejmij punkt (-)</button>
            </form>


        </div>
        <div class="col-md-2 text-center align-middle" style="font-size: 40px; font-weight: 500;">
            <div class="hidden-xs"><br /></div>
        </div>
        <div class="col-md-3 text-center">
            <form action="~/Match/AddPoint" method="post">
                <input type="hidden" name="matchId" value="@Model.Match.Id" />
                <input type="hidden" name="team" value="two" />
                <button class="btn btn-danger" type="submit" style="width: 150px; margin: 5px;">Dodaj punkt (+)</button>
            </form>
            <form action="~/Match/SubstractPoint" method="post">
                <input type="hidden" name="matchId" value="@Model.Match.Id" />
                <input type="hidden" name="team" value="two" />
                <button class="btn btn-danger" type="submit" style="width: 150px; margin: 5px;">Odejmij punkt (-)</button>
            </form>
        </div>
        <div class="col-md-2">

        </div>
    </div>

    <!-- Small View-->
    <div class="row hidden-md hidden-lg">
        <div class="col-xs-6 text-center">
            <form action="~/Match/AddPoint" method="post">
                <input type="hidden" name="matchId" value="@Model.Match.Id" />
                <input type="hidden" name="team" value="one" />
                <button class="btn btn-primary" type="submit" style="width: 135px; margin: 2px;">Dodaj punkt (+)</button>
            </form>
            <form action="~/Match/SubstractPoint" method="post">
                <input type="hidden" name="matchId" value="@Model.Match.Id" />
                <input type="hidden" name="team" value="one" />
                <button class="btn btn-primary" type="submit" style="width: 135px; margin: 2px;">Odejmij punkt (-)</button>
            </form>
        </div>
        <div class="col-xs-6 text-center">
            <form action="~/Match/AddPoint" method="post">
                <input type="hidden" name="matchId" value="@Model.Match.Id" />
                <input type="hidden" name="team" value="two" />
                <button class="btn btn-danger" type="submit" style="width: 135px; margin: 2px;">Dodaj punkt (+)</button>
            </form>
            <form action="~/Match/SubstractPoint" method="post">
                <input type="hidden" name="matchId" value="@Model.Match.Id" />
                <input type="hidden" name="team" value="two" />
                <button class="btn btn-danger" type="submit" style="width: 135px; margin: 2px;">Odejmij punkt (-)</button>
            </form>
        </div>
    </div>

    <br />

    <div class="row">
        <div class="col-md-12 text-center">
            <form action="~/Match/NextSet" method="post">
                <input type="hidden" name="matchId" value="@Model.Match.Id" />
                <button class="btn btn-success" type="submit" style="width: 190px; margin: 5px;">Zakończ set</button>
            </form>
            <form action="~/Match/PreviousSet" method="post">
                <input type="hidden" name="matchId" value="@Model.Match.Id" />
                <button class="btn btn-success" type="submit" style="width: 190px; margin: 5px;">Przywróć poprzedni set</button>
            </form>
            <form action="~/Match/EndMatch" method="post">
                <input type="hidden" name="matchId" value="@Model.Match.Id" />
                <button class="btn btn-success" type="submit" style="width: 190px; margin: 5px;">Zakończ mecz</button>
            </form>
        </div>
    </div>
}
else if (Model.Match.Status == RDChampionship.Models.Logic.MatchStatus.Ended)
{
    <br />

    <div class="row">
        <div class="col-md-12 text-center">
            <h3>Mecz zakończony!</h3>
        </div>
    </div>
}
