﻿@model MatchCreateViewModel

<h4>Match</h4>
<hr />

<script>
    var users = [];
    @for (int i = 0; i < Model.Users.Count; i++)
    {
        @Html.Raw($"\tusers[{i}] = {{ 'name': '{Model.Users[i].UserName}', 'id': '{Model.Users[i].Id}' }} \n")
    }

    function checkIfPlayerIsOnTheList(player) {
        for (var i = 0; i < users; i++) {
            if (users[i].name == player) {
                return true;
            }
        }
        return false;
    }

    function findIdForPlayerName(player) {
        console.log('something')
        for (var i = 0; i < users.length; i++) {
            if (users[i].name == player) {
                console.log(users[i].id)

                return users[i].id;
            }
        }
        return null;
    }

    function validateData() {
        var errors = []

        var teamOnePlayerOne = document.getElementById('teamOnePlayerOne').value;
        var teamOnePlayerTwo = document.getElementById('teamOnePlayerTwo').value;
        var teamTwoPlayerOne = document.getElementById('teamTwoPlayerOne').value;
        var teamTwoPlayerTwo = document.getElementById('teamTwoPlayerTwo').value;

        if (!checkIfPlayerIsOnTheList(teamOnePlayerOne)) {
            errors.push('Nieznany użytkownik: Druzyna 1 gracz 1')
        }

        if (!checkIfPlayerIsOnTheList(teamOnePlayerTwo)) {
            errors.push('Nieznany użytkownik: Druzyna 1 gracz 2')
        }

        if (!checkIfPlayerIsOnTheList(teamTwoPlayerOne)) {
            errors.push('Nieznany użytkownik: Druzyna 2 gracz 1')
        }

        if (!checkIfPlayerIsOnTheList(teamTwoPlayerTwo)) {
            errors.push('Nieznany użytkownik: Druzyna 2 gracz 2')
        }

        for (var i = 0; i < errors.length; i++) {
            console.log(errors[i]);
        }

        if (errors.length == 0) {
            submitCreateForm();
        }
        else {
            var errorContainerDiv = document.getElementById('errorContainer');
            var errorsDiv = document.getElementById('errors');
            var message = ''
            for (var i = 0; i < errors.length; i++) {
                message += errors[i] + '</br>';
            }
            errorContainerDiv.classList.remove("hidden");
            errorsDiv.innerHTML = message;
        }
    }

    function submitCreateForm() {
        var form = document.getElementById('formCreate');
        form.submit();
    }

    function setUserIdInput(userIdInputId, userNameInputId) {
        var userNameInput = document.getElementById(userNameInputId);
        var userIdInput = document.getElementById(userIdInputId);
        userIdInput.value = findIdForPlayerName(userNameInput.value);
    }
</script>

<div class="row">
    <div class="col-md-8">
        <form id="formCreate" action="~/Match/Create" method="post">
            <div class="row">
                <div class="col-md-6 form-group">
                    <b>Nazwa</b>
                    <input type="text" name="Name" class="form-control" />
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <h3>Drużyna 1</h3>
                    <div class="form-group">
                        <b>Gracz 1</b>
                        <input id="teamOnePlayerOneName" name="TeamOnePlayerOneName" class="form-control" onchange="setUserIdInput('teamOnePlayerOneId', 'teamOnePlayerOneName')" />
                        <input id="teamOnePlayerOneId" name="TeamOnePlayerOneId" class="form-control" type="hidden" />
                    </div>
                    <div class="form-group">
                        <b>Gracz 2</b>
                        <input id="teamOnePlayerTwoName" name="TeamOnePlayerTwoName" class="form-control" onchange="setUserIdInput('teamOnePlayerTwoId', 'teamOnePlayerTwoName')"/>
                        <input id="teamOnePlayerTwoId" name="TeamOnePlayerTwoId" class="form-control" type="hidden" />
                    </div>
                </div>
                <div class="col-md-6">
                    <h3>Drużyna 2</h3>

                    <div class="form-group">
                        <b>Gracz 1</b>
                        <input id="teamTwoPlayerOneName" name="TeamTwoPlayerOneName" class="form-control" onchange="setUserIdInput('teamTwoPlayerOneId', 'teamTwoPlayerOneName')" />
                        <input id="teamTwoPlayerOneId" name="TeamTwoPlayerOneId" class="form-control" type="hidden" />
                    </div>
                    <div class="form-group">
                        <b>Gracz 2</b>
                        <input id="teamTwoPlayerTwoName" name="TeamTwoPlayerTwoName" class="form-control" onchange="setUserIdInput('teamTwoPlayerTwoId', 'teamTwoPlayerTwoName')"/>
                        <input id="teamTwoPlayerTwoId" name="TeamTwoPlayerTwoId" class="form-control" type="hidden" />
                    </div>
                </div>
            </div>

            <div id="errorContainer" class="hidden text-danger">
                Błędy: <br />
                <div id="errors"></div>
                <br />
            </div>
            <div class="form-group btn-group">
                <button onclick="validateData()" class="btn btn-primary">Utwórz Mecz</button>
                <a asp-action="Index" class="btn btn-primary">Cofnij</a>
            </div>
        </form>
    </div>
    <div class="col-md-3">
        <h3>Dostepni użytkownicy:</h3>

        @foreach(var user in Model.Users)
        {
            <ul>
                <li>@user.UserName</li>
            </ul>
        }
    </div>
</div>
