﻿@model MatchIndexViewModel

<h1>Mecze</h1>

@if (User.Identity.IsAuthenticated)
{
    @if (User.IsAtLeastInOneRole(AppRoleService.Administrator, AppRoleService.Moderator, AppRoleService.FreeMatchPlayer))
    {
        <p style="margin-top: 30px; margin-bottom: 30px;">
            <a class="btn btn-primary" asp-action="Create">Utwórz nowy mecz</a>
        </p>
    }
}

<table class="table">
    <thead>
        <tr>
            <th>
                Nazwa
            </th>
            <th>
                Utworzono
            </th>
            <th>
                Drużyna I
            </th>
            <th>
                Drużyna II
            </th>
            <th>
                Status
            </th>
            <th>
                Obecny Wynik (Sety)
            </th>
            <th>

            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var match in Model.Matches)
        {
            var teamOnePlayerOne = Model.Users.FirstOrDefault(u => u.Id == match.TeamOnePlayerOneId);
            var teamOnePlayerTwo = Model.Users.FirstOrDefault(u => u.Id == match.TeamOnePlayerTwoId);
            var teamTwoPlayerOne = Model.Users.FirstOrDefault(u => u.Id == match.TeamTwoPlayerOneId);
            var teamTwoPlayerTwo = Model.Users.FirstOrDefault(u => u.Id == match.TeamTwoPlayerTwoId);

            <tr>
                <td>
                    @Html.DisplayFor(modelItem => match.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => match.Created)
                </td>
                <td>
                    @teamOnePlayerOne.UserName <br />
                    @teamOnePlayerTwo.UserName
                </td>
                <td>
                    @teamTwoPlayerOne.UserName <br />
                    @teamTwoPlayerTwo.UserName
                </td>
                <td>
                    @if (match.Status == RDChampionship.Models.Logic.MatchStatus.Scheduled)
                    {
                        <p>Oczekujący rozpoczęcia</p>
                    }
                    else if (match.Status == RDChampionship.Models.Logic.MatchStatus.During)
                    {
                        <p>Trwa obecnie</p>
                    }
                    else if (match.Status == RDChampionship.Models.Logic.MatchStatus.Suspended)
                    {
                        <p>Przerwany</p>
                    }
                    else if (match.Status == RDChampionship.Models.Logic.MatchStatus.Ended)
                    {
                        <p>Zakończony</p>
                    }
                    else
                    {
                        <p>Nieznany</p>
                    }
                </td>
                <td>
                    @match.SetPointsTeamOne : @match.SetPointsTeamTwo <br />
                </td>
                <td>
                    @if (User.Identity.IsAuthenticated &&
                      (User.IsInRole(AppRoleService.Administrator) ||
                      User.IsInRole(AppRoleService.Moderator)))
                    {
                        <form action="~/Match/Delete" method="post" class="btn-group">
                            <a href="~/Match/ControlPanel/@match.Id" class="btn btn-primary">Panel meczu</a>
                            <input name="id" value="@match.Id" type="hidden" />
                            <button type="submit" class="btn btn-danger">Usuń</button>
                        </form>
                    }
                    else
                    {
                        <a href="~/Match/ControlPanel/@match.Id" class="btn btn-primary">Panel meczu</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
