﻿@model RDChampionship.Models.Logic.Team

<h2>Stwórz nową drużynę</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateTeam" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LogoUrl" class="control-label"></label>
                <input asp-for="LogoUrl" class="form-control" value="/images/logo_empty_2.png" id="logoPreviewUrl" onchange="change_logo_preview();" />
                <span asp-validation-for="LogoUrl" class="text-danger"></span>

                <script>
                    function change_logo_preview() {
                        var logoUrlInput = document.getElementById('logoPreviewUrl');
                        var logoPreviewImage = document.getElementById('logoPreviewImage');

                        var url = logoUrlInput.value;
                        logoPreviewImage.src = url;
                    }
                </script>

                <h4>Podgląd logo</h4>
                <img id="logoPreviewImage" style="width: 120px; height: 120px; margin:20px;" src="~/images/logo_empty_2.png" alt="Logo" />
            </div>
            <div class="form-group">
                <input type="submit" value="Stwórz nową drużynę" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Cofnij</a>
</div>

