﻿@model TeamDetailsViewModel

<div>
    <h4>Drużyna: @Model.Team.Name</h4>
    <hr />

    <div class="row">
        <div class="col-md-3 text-center">
            <img src="@Model.Team.LogoUrl" alt="Logo drużyny" style="height: 100px; margin: 5px;" />
        </div>
        <div class="col-md-9">
            <dl class="dl-horizontal">
                <dt>
                    Identyfikator drużyny:
                </dt>
                <dd>
                    @Model.Team.Id
                </dd>
                <dt>
                    Nazwa drużyny:
                </dt>
                <dd>
                    @Model.Team.Name
                </dd>
                <dt>
                    Lider drużyny:
                </dt>
                <dd>
                    @Model.TeamOwner.UserName
                </dd>
                <dt>
                    Członek drużyny:
                </dt>
                <dd>
                    @Model.TeamMember.Email
                </dd>
            </dl>
        </div>
    </div>

    <hr/>

    <div class="row">
        <div class="col-md-12 text-center">
            TODO: Historia meczy dla drużyny
        </div>
    </div>
</div>
