﻿@model TeamIndexViewModel

<h1>Moja drużyna</h1>

<p>Nie należysz do żadnej drużyny. Stwórz wasną lub dołącz do drużyny poprzez zaproszenie:</p>

<form asp-controller="Teams" asp-action="CreateTeamForm" method="get">
    <button type="submit" class="btn btn-link navbar-btn navbar-link">Stwórz nową drużynę</button>
</form>

<hr style="height:3px;border:none;color:#333;background-color:#333;" />

<h3>Otrzymane zaproszenia</h3>

<br />

<table class="table">
    <thead>
        <tr>
            <th>
                Zaproszenie od
            </th>
            <th>
                Czas wysłania zaproszenia
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var invitation in Model.UserReceivedInvitations)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => invitation.InvitingPerson)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => invitation.InvitationTime)
                </td>
                <td>
                    <form action="~/Teams/AcceptInvitation" method="post">
                        <input type="hidden" id="invitationId" name="invitationId" value="@invitation.Id">
                        <button type="submit">Akceptuj zaproszenie</button>
                    </form>
                </td>
                <td>
                    <form action="~/Teams/DiscardInvitation" method="post">
                        <input type="hidden" id="invitationId" name="invitationId" value="@invitation.Id">
                        <button type="submit">Odrzuć zaproszenie</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
