﻿@model TeamSendInvitationViewModel

<h2> Wyślij zaproszenie do drużyny </h2>

<hr />

<table class="table">
    <thead>
        <tr>
            <th>
                Nazwa
            </th>
            <th>
                Email
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var user in Model.Users) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => user.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => user.Email)
            </td>
            <td>
                @if (User.Identity.Name != user.UserName)
                {
                    <form action="~/Teams/SendInvitation" method="post">
                        <input type="hidden" id="invitedUser" name="invitedUserId" value="@user.Id">
                        <button type="submit">Wyślij zaproszenie</button>
                    </form>
                }
                else
                {
                    <b>X</b>
                }
            </td>
        </tr>
}
    </tbody>
</table>


<a href="~/Teams/Index">Moja drużyna</a>