﻿@model TeamOwnerViewModel


<div class="row">
    <div class="col-md-3 text-center">
        <img style="width: 180px; height: 180px; margin: 20px;" src="@Model.UserTeam.LogoUrl" alt="Logo" />
    </div>
    <div class="col-md-9">
        <h2 style="margin-top: 95px;">@Model.UserTeam.Name</h2>
    </div>
</div>

Jesteś liderem drużyny - <a asp-controller="Teams" asp-action="LeaveTeam">rozwiąż drużynę</a>

<hr style="height:3px;border:none;color:#333;background-color:#333;" />

<h3>Wysłane zaproszenia</h3>

<br />

<table class="table">
    <thead>
        <tr>
            <th>
                Nazwa zaproszonego
            </th>
            <th>
                Czas wysłania zaproszenia
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var invitation in Model.UserSendedInvitations)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => invitation.InvitedPreson)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => invitation.InvitationTime)
                </td>
                <td>
                    <form action="~/Teams/CancelInvitation" method="post">
                        <input type="hidden" id="invitationId" name="invitationId" value="@invitation.Id">
                        <button type="submit">Anuluj zaproszenie</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>

<a asp-controller="Teams" asp-action="SendInvitation">Wyślij zaproszenie do drużyny</a> <br />

<hr style="height:3px;border:none;color:#333;background-color:#333;" />

<h3>Otrzymane zaproszenia</h3>

@if (Model.UserReceivedInvitations.Count() == 0)
{
    <p>Brak otrzymanych zaproszeń.</p>
}
else
{
    <p>Musisz rozwiązać drużynę zanim dołączysz do innej drużyny.</p>
    <br />

    <table class="table">
        <thead>
            <tr>
                <th>
                    Zaproszenie od
                </th>
                <th>
                    Czas wysłania zaproszenia
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var invitation in Model.UserReceivedInvitations)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => invitation.InvitingPerson)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => invitation.InvitationTime)
                    </td>
                    <td>
                        <form action="~/Teams/AcceptInvitation" method="post">
                            <input type="hidden" id="invitationId" name="invitationId" value="@invitation.Id">
                            <button type="submit">Akceptuj zaproszenie</button>
                        </form>
                    </td>
                    <td>
                        <form action="~/Teams/DiscardInvitation" method="post">
                            <input type="hidden" id="invitationId" name="invitationId" value="@invitation.Id">
                            <button type="submit">Odrzuć zaproszenie</button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}