﻿@model TeamMemberViewModel

<h2>@Model.UserTeam.Name</h2>

Jesteś członkiem drużyny - <a asp-controller="Teams" asp-action="LeaveTeam">opuść drużynę</a>

<hr />

Liderem drużyny jest: @Model.TeamOwner.UserName [@Model.TeamOwner.Email]