﻿@model TeamListViewModel

<table class="table">
    <thead>
        <tr>
            <th class="text-center">
                Logo
            </th>
            <th class="text-center">
                Nazwa drużyny
            </th>
            <th class="text-center">
                Lider drużyny
            </th>
            <th class="text-center">
                Członek drużyny
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var team in Model.Teams) {
    var teamOwner = Model.Users.FirstOrDefault(u => u.Id == team.TeamOwnerId);
    var teamMember = Model.Users.FirstOrDefault(u => u.Id == team.TeamMemberId);
        <tr>
            <td class="text-center">
                <img style="width: 50px; height: 50px;" src="@team.LogoUrl" alt="Logo" />
            </td>
            <td class="text-center">
                @Html.DisplayFor(modelItem => team.Name)
            </td>
            <td class="text-center">
                <a href="~/Users?id=@team.Id">content</a> @teamOwner.UserName
            </td>
            <td class="text-center">
                @teamMember.UserName
            </td>
            <td>
                @*<a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
            <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
            <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>*@
            </td>
        </tr>
}
    </tbody>
</table>
