﻿<h2>Regulamin</h2>

<p>Regulamin turnieju.</p>

Kolejka:

<h3>Postanowienia ogólne</h3>

<ol type="1">
    <li> W turnieju mogą uczestniczyć dwuosobowe drużyny, które do dnia <b>[termin rozpoczecia]</b> dokonają zgłoszenia udziału w turnieju na stronie turnieju </li>
    <li>Drużyna składa się z dwóch zawodników. Każda drużyna posiada kapitana ustalonego w trakcie zapisów. Za wszystkie sprawy formalne odpowiedzialny jest kapitan.</li>

</ol>

Drużyny
4. Ilość drużyn w Turnieju Głównym jest ograniczona do 16.
5. Jeżeli ilość zgłoszonych drużyn do turnieju będzie większa niż 16, dnia 12
czerwca na stronie www.jp2muzeum.pl zostanie umieszczona informacja o
terminie eliminacji.
6. Ze względu na amatorski charakter turnieju, nie mogą w nim brać udziału osoby
sklasyfikowane w aktualnym rankingu Polskiego Związku Futbolu Stołowego.

Mecz
1. Mecze rozgrywane są jedną piłką
2. Przed rozpoczęciem meczu losowane są strony, na których grają drużyny (rzut
monetą)
3. Mecz uważa się za rozpoczęty w momencie, gdy wrzucona przez sędziego piłka
dotknie dwóch różnych piłkarzyków bądź piłkarzyka i bandy ---------------------------------
4. Bramka zostaje zdobyta w momencie wpadnięcia piłki do bramki przeciwnika,
5. Bramka nie zostaje uznana jeśli:
• piłka wypadnie z bramki,
• zostanie zdobyta w wyniku wykonania obrotu przekraczającego 360 stopni,
• zostanie strzelona z pierwszej lub drugiej piłki (przed otwarciem stołu).

Martwa Piłka
1. Za martwą piłkę uznaje się piłkę będącą poza zasięgiem piłkarzyków obu drużyn.
2. Poruszanie stołem, uderzanie w drążki lub ich wyginanie jest karane żółtą kartką.
3. Martwa piłka znajdująca się pomiędzy bramkarzem a linią obrońców, serwowana
jest z linii obrony, w której się znajduje gracz lub sędzia.
4. Martwa piłka znajdująca się w innym miejscu, niż opisane w punkcie c) jest
serwowana z linii pomocy drużyny, która ostatnia serwowała od środka pola.

5. Upomnienia
1. Ostrzeżenie – pierwsze ostrzeżenie (od momentu przyznania pierwszego
ostrzeżenia do zakończenia meczu, przy stole obecny jest organizator/sędzia).
2. Żółta kartka – jako drugie ostrzeżenie, skutkuje przyznaniem bramki drużynie
przeciwnej.
3. Żółtą kartkę zawodnik może w czasie jednego meczu otrzymać maksymalnie 2
razy.
4. Trzecia żółta kartka automatycznie skutkuje kartką czerwoną, czyli
dyskwalifikacją z dalszej części meczu.
5. Czerwona kartka – przyznawana za złośliwe i powtarzające się łamanie
regulaminu oraz reguł fair play, wyklucza zawodnika z udziału w dalszej części
meczu.
3
6. Mecz kontynuuje drugi zawodnik.
7. Otrzymanie czerwonej kartki przez drugiego zawodnika wyklucza drużynę z
dalszej gry w turnieju.
8. W PRZYPADKU RAŻĄCEGO ŁAMANIA ZASAD REGULAMINU SĘDZIA MOŻE
WYKLUCZYĆ DRUŻYNĘ Z DALSZYCH ROZGRYWEK TURNIEJU.
6. Ściana
1. Jeżeli przeciwnik jest w posiadaniu piłki, zabronione jest uderzanie w bandę w
szczególności zabronione jest szybkie, regularne uderzanie w jedną lub
naprzemiennie w obie bandy, także wówczas, gdy przeciwnik nie jest w
posiadaniu piłki.
2. W przypadku łamania tego zakazu sędzia może ukarać zawodnika lub drużynę
żółtą kartką.
7. Zmiany pozycji
1. Podczas meczu jest dozwolona zmiana pozycji pomiędzy zawodnikami
(napastnik/obrońca) w dowolnym momencie meczu.
8. Kręcenie drążkiem (motylki)
2. Obrót piłkarzyka o więcej niż 360 stopni przed lub po uderzeniu w piłkę jest
zabroniony.
3. Bramka zdobyta z naruszeniem przepisu a) nie jest uznawana, a grę rozpoczyna
serwem drużyna przeciwna.
4. Jeżeli naruszono przepis a) ale bramka nie została zdobyta gra jest wznawiana
serwem z jej linii pomocy drużyny przeciwnej.
9. PRZEPISY RÓŻNE
1. Ingerowanie w pole gry podczas meczu jest zabronione, chyba że polega na
usunięciu zanieczyszczeń i jest poprzedzone wstrzymaniem gry przerwą
techniczną.
2. Drążki mogą być dotykanie wyłącznie rękoma.
3. Regulowanie ustawienia stołów, pola gry lub piłkarzyków jest dopuszczone tylko
za zgodą sędziego.
4. Gdy piłka jest w grze, zawodnicy nie mogą z nikim rozmawiać.
5. Przekleństwa i obelgi są zabronione. Notoryczne łamanie tego przepis umoże być
ukarane dyskwalifikacją zawodnika przez organizatorów turnieju przez przyznanie
żółtej kartki.
6. Zawodnikom i publiczności nie wolno kłaść na stole żadnych przedmiotów.
7. Zabronione jest rozpraszanie przeciwników w jakikolwiek sposób.
8. Zabronione jest uderzanie drążkami lub piłkarzykami w elementy stołu w celu
wywołania hałasu rozpraszającego przeciwnika.
9. Zabronione jest odbieranie telefonów komórkowych w trakcie gry.
10. SĘDZIOWIE
1. Przerwa na wezwanie sędziego nie jest liczona jako jeden z dwóch dozwolonych
czasów
2. Sędzia podejmuje decyzje w zgodzie ze swą wiedzą
3. DECYZJE SĘDZIEGO SĄ OSTATECZNE
4. Kłótnia z sędzią może zostać ukarana dyskwalifikacją z turnieju. O dyskwalifikacji
z turnieju decyduje Komisja Sędziowska złożona z 4 sędziów.
11. WIDZOWIE
1. Widzami są wszystkie osoby przebywające w miejscu rozgrywek.
4
2. Widzowie muszą zachowywać dystans od stołu, tak by nie przeszkadzać
zawodnikom w grze.
3. Widzowie nie powinni komentować w sposób niegrzeczny i niekulturalny, sytuacji
na boisku.
4. Jeżeli któremuś z zawodników przeszkodzono, akcja zostaje powtórzona i piłkę
umieszcza się na linii, na której znajdowała się przed zdarzeniem.
5. Jeżeli bramka zostaje zdobyta w sytuacji, gdy któremuś z graczy przeszkodzono,
jest anulowana, a piłka zostaje cofnięta do pozycji, w której znajdowała się przed
oddaniem strzału.
6. Każdy gracz ma prawo zażądać od organizatorów odsunięcia na stosowną
odległość przeszkadzających mu widzów. W skrajnym przypadku gracz ma prawo
zażądać usunięcia nieprzestrzegających regulaminu widzów z miejsca turnieju.
7. Sędzia może ukarać czerwoną kartką kibica i zażądać opuszczenia miejsca
rozgrywek.
III. Postanowienia końcowe
1. Organizator zastrzega, że w sytuacji ekstremalnej MA PRAWO do własnej
interpretacji zaistniałego zdarzenia, włącznie ze zmianą regulaminu.
2. Za „sytuację ekstremalną” uważa się sytuację sporną, której regulamin nie
uwzględnił.
3. Do interpretacji powyższego regulaminu uprawniony jest jedynie organizator.
4. Organizator nie ponosi odpowiedzialności za rzeczy pozostawione i zgubione w
trakcie trwania turnieju. 