﻿@page
@model DeletePersonalDataModel
@{
    ViewData["ActivePage"] = ManageNavPages.DeletePersonalData;
}

<h4>Usuń prywatne dane</h4>

<div class="alert alert-warning" role="alert">
    <p>
        <span class="glyphicon glyphicon-warning-sign"></span>
        <strong>Usunięcie tych danych spowoduje bezpowrotne uniemożliwi odzyskanie twojego konta.</strong>
    </p>
</div>

<div>
    <form id="delete-user" method="post" class="form-group">
        <div asp-validation-summary="All" class="text-danger"></div>
        @if (Model.RequirePassword)
        {
        <div class="form-group">
            <label asp-for="Input.Password"></label>
            <input asp-for="Input.Password" class="form-control" />
            <span asp-validation-for="Input.Password" class="text-danger"></span>
        </div>
        }
        <button class="btn btn-danger" type="submit">Usuń moje konto włącznie z danymi</button>
    </form>
</div>

@section Scripts {
<partial name="_ValidationScriptsPartial" />
}