﻿@page
@model DownloadPersonalDataModel
@{
    ViewData["ActivePage"] = ManageNavPages.DownloadPersonalData;
}

<h4>Pobierz swoje dane</h4>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}