﻿@page
@model IndexModel
@{
    Layout = "/Areas/Identity/Pages/Account/Manage/_Layout.cshtml";
}

<h4>Profil użytkownika</h4>

@Html.PartialAsync("_StatusMessage", Model.StatusMessage).Result

<div class="row">
    <div class="col-md-6">
        <form id="profile-form" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <b>Nazwa użytkownika</b>
                <input asp-for="Input.Username" class="form-control" />
            </div>
            <div class="form-group">
                <b>Adres Email</b>
                @if (Model.IsEmailConfirmed)
                {
                    <div class="input-group">
                        <input asp-for="Input.Email" class="form-control" />
                        <span class="input-group-addon" aria-hidden="true"><span class="glyphicon glyphicon-ok text-success"></span></span>
                    </div>
                }
                else
                {
                    <input asp-for="Input.Email" class="form-control" />
                    <button id="email-verification" type="submit" asp-page-handler="SendVerificationEmail" class="btn btn-link">Wyślij email z kodem weryfikacyjnym</button>
                }
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                <b>Numer telefonu</b>
                <input asp-for="Input.PhoneNumber" class="form-control" />
                <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
            </div>*@

            <div class="form-group">
                <b>Avatar Url</b> <br/>
                <img src="@Model.Input.AvatarUrl" id="AvatarContainer" style="height: 130px; margin: 20px;" />

                <script>
                    function showAvatarPreview() {
                        var avatarUrlInput = document.getElementById("AvatarUrlInput");
                        var avatarContainer = document.getElementById("AvatarContainer");

                        if (avatarUrlInput.value == '') {
                            avatarUrlInput.value = '/images/avatar_empty.png';                            
                        }

                        avatarContainer.src = avatarUrlInput.value;
                    }
                </script>

                <input asp-for="Input.AvatarUrl" id="AvatarUrlInput" class="form-control" onchange="showAvatarPreview();" />
            </div>

            <button type="submit" class="btn btn-default">Zapisz</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
