﻿@page
@model PersonalDataModel
@{
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
    Layout = "/Areas/Identity/Pages/Account/Manage/_Layout.cshtml";
}

<h4>Dane personalne</h4>

<div class="row">
    <div class="col-md-6">
        <p>Twoje konto posiada dane personalne, które są w bazie danych strony. Ta strona umożliwia Ci pobranie i usunięcie tych danych.</p>
        <p>
            <strong>Usunięcie tych danych spowoduje bezpowrotne uniemożliwi odzyskanie twojego konta.</strong>
        </p>
        <form asp-page="DownloadPersonalData" method="post" class="form-group">
            <button class="btn btn-default" type="submit">Pobierz</button>
        </form>
        <p>
            <a asp-page="DeletePersonalData" class="btn btn-default">Usuń</a>
        </p>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}