﻿@model EliminationTableAdministrationViewModel

<h1>Administration</h1>

<h4>@Model.Tournament.Name</h4>
<form action="~/EliminationTable/RandomizeGroups" method="post">
    <input type="hidden" id="tournamentId" name="tournamentId" value="@Model.Tournament.Id" />
    <input id="groupsCount" name="groupsCount" value="4" />
    <div class="btn-group text-center">
        <button class="btn btn-primary" type="submit">Losuj grupy</button>
    </div>
</form>

<br />
<hr />

@if (Model.Tournament.Phase == RDChampionship.Models.Logic.TournamentPhase.Registration)
{
    <h4>Zarejstrowane drużyny - Faza Rejstracji</h4>

    <table class="table">
        <thead>
            <tr>
                <th class="text-center">
                    Logo
                </th>
                <th class="text-center">
                    Nazwa drużyny
                </th>
                <th class="text-center">
                    Lider drużyny
                </th>
                <th class="text-center">
                    Członek drużyny
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var team in Model.RegisteredTeams)
            {
                var teamOwner = Model.Users.FirstOrDefault(u => u.Id == team.TeamOwnerId);
                var teamMember = Model.Users.FirstOrDefault(u => u.Id == team.TeamMemberId);
                <tr>
                    <td class="text-center">
                        <img style="width: 22px; height: 22px;" src="@team.LogoUrl" alt="Logo" />
                    </td>
                    <td class="text-center">
                        @team.Name
                    </td>
                    <td class="text-center">
                        @teamOwner.UserName
                    </td>
                    <td class="text-center">
                        @teamMember.UserName
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else if (Model.Tournament.Phase == RDChampionship.Models.Logic.TournamentPhase.Championship)
{
    @foreach (var group in Model.Groups)
    {
        <div class="row">
            <div class="col-md-3">
                <h2>@group.Name</h2>

                <ul>
                    @foreach (var groupMember in Model.GroupsMembers.Where(gm => gm.GroupId == group.Id))
                    {
                        @*<li>@groupMember.TeamName</li>*@
                    }
                </ul>
            </div>

            <div class="col-md-5">
                <h2>Matches</h2>

                @*<ul>
                    @foreach (var match in Model.Matches.Where(m => m.GroupId == group.Id).ToList())
                    {
                        var teamOne = Model.RegisteredTeams.FirstOrDefault(t => t.Id == match.TeamOneId);
                        var teamTwo = Model.RegisteredTeams.FirstOrDefault(t => t.Id == match.TeamTwoId);
                        <li>
                            @teamOne.Name - @teamTwo.Name

                            <form action="~/EliminationTable/StartScheduledMatch" method="post">
                                <input type="hidden" name="matchId" value="@match.Id" />
                                <button class="btn btn-primary" type="submit">Rozpocznij mecz</button>
                            </form>

                            <br/>
                        </li>
                    }
                </ul>*@
            </div>

            <div class="col-md-4">
                <h2>Generuj mecze</h2>
                <form action="~/EliminationTable/GenerateMatches" method="post">
                    <input type="hidden" name="tournamentId" value="@Model.Tournament.Id" />
                    <input type="hidden" name="groupName" value="@group.Name" />
                    <input name="rounds" value="1" style="width: 40px; " />
                    <button class="btn btn-primary" type="submit">Generuj mecze</button>
                </form>
            </div>
        </div>

        <hr/>
    }
}
else if (Model.Tournament.Phase == RDChampionship.Models.Logic.TournamentPhase.Ended)
{
    @foreach (var group in Model.Groups)
    {
        <h2>@group.Name</h2>

        <ul>
            @foreach (var groupMember in Model.GroupsMembers.Where(gm => gm.GroupId == group.Id))
            {
                @*<li>@groupMember.TeamName</li>*@
            }
        </ul>
    }
}
else
{
    <h4>Nieznana faza turnieju. </h4>
}

