﻿@model EliminationTableGroupsViewModel


<h1>Grupy eliminacji</h1>

@foreach (var group in Model.Groups)
{
    <h3>
        <a class="btn btn-primary" href="~/EliminationTable/GroupTable/@group.TournamentId/@group.Id">@group.Name - pokaż tabelę eliminacji</a>
    </h3>
}

<hr />

<a class="btn btn-primary" href="~/Tournament">Pokaż listę turniejów</a>