﻿@model EliminationTableGroupTableViewModel

<h1>@Model.Tournament.Name</h1>

<h2>Zaplanowane mecze</h2>

<div class="row">
    @*@foreach (var match in Model.Matches)
    {
        <div class="col-md-4">
            @{
                var teamOne = Model.Teams.FirstOrDefault(t => t.Id == match.TeamOneId);
                var teamTwo = Model.Teams.FirstOrDefault(t => t.Id == match.TeamTwoId);
            }

            <div class="row" style="margin-top: 20px;">
                <div class="col-md-2">

                </div>
                <div class="col-xs-3 text-center">
                    <img src="@teamOne.LogoUrl" style="height: 50px;" />
                </div>
                <div class="col-xs-2 text-center" style="margin-top: 21px;">
                    VS
                </div>
                <div class="col-xs-3 text-center">
                    <img src="@teamTwo.LogoUrl" style="height: 50px;" />
                </div>
                <div class="col-md-2">

                </div>
            </div>

            <div class="row" style="margin-top: 5px; min-height:50px;">
                <div class="col-md-2">

                </div>
                <div class="col-xs-3 text-center">
                    @teamOne.Name
                </div>
                <div class="col-xs-2 text-center">
                </div>
                <div class="col-xs-3 text-center">
                    @teamTwo.Name 
                </div>
                <div class="col-md-2">

                </div>
            </div>

            <div class="row" style="margin-top: 5px;">
                <div class="col-md-2">

                </div>
                <div class="col-xs-8 text-center">
                    <a class="btn btn-primary" href="~/Match/ControlPanel/@match.Id">Rozpocznij mecz</a>
                </div>
                <div class="col-md-2">

                </div>
            </div>
        </div>
    }*@
</div>


    <br />
    <hr />

    <h2>Tabela - @Model.Group.Name</h2>

    TODO: Tabela z wynikami
