﻿@page
@model ExternalLoginModel

<h2>Rejstracja</h2>
<h4>Połącz twój profil w serwisie @Model.LoginProvider.</h4>
<hr />

<p class="text-info">
    Z powodzeniem zostałeś rozpoznany w serwisie <strong>@Model.LoginProvider</strong>.
    Wpisz swój adres email, oraz kliknij przycisk Zarejestruj, aby połączyć tą stronę z twoim kontem w serwisie <strong>@Model.LoginProvider</strong>.
</p>

<div class="row">
    <div class="col-md-4">
        <form asp-page-handler="Confirmation" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-default">Zarejestruj</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

