﻿@page
@model LoginWithRecoveryCodeModel

<h2>Weryfikacja kodu reaktywacji</h2>
<hr />
<p>
    Poprosiłeś o logowanie z wykorzystaniem kodu reaktywacji. 
    Logowanie nie zostanie wykonane dopóki nie podasz kodu reaktywacji podczas logowania lub nie włączysz logowania dwuskładnikowego.
</p>
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.RecoveryCode"></label>
                <input asp-for="Input.RecoveryCode" class="form-control" autocomplete="off" />
                <span asp-validation-for="Input.RecoveryCode" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-default">Zaloguj</button>
        </form>
    </div>
</div>
 
 @section Scripts {
    <partial name="_ValidationScriptsPartial" />
}